<form method='GET' action="/search">

    <input type="text" name="search" size="50" placeholder="Enter search text" required>

    <div>
        <button type="submit">SEARCH</button>
    </div>


</form>